[Unit]
Description=Install Homebrew packages from system and user Brewfiles
After=network-online.target brew-setup.service brew-update.service
Wants=network-online.target brew-setup.service brew-update.service
ConditionPathExists=/etc/.linuxbrew

[Service]
Type=oneshot
User=linuxbrew
WorkingDirectory=/var/home/linuxbrew
EnvironmentFile=/etc/homebrew/environment
ExecStart=/var/home/linuxbrew/.linuxbrew/bin/brew bundle install --file /usr/share/homebrew/Brewfile
ExecStart=/var/home/linuxbrew/.linuxbrew/bin/brew bundle install --file /etc/homebrew/Brewfile

[Install]
WantedBy=multi-user.target
